[Desktop Entry]
Name=Enhanced SCCT Versus
Exec=AppRun
Icon=icon
Type=Application
Keywords=SplinterCell;ChaosTheory;Splinter;Cell;Chaos;Theory;Versus;Enhanced;SCCT;
Categories=Game;
Actions=Editor;

[Desktop Action Editor]
Name=Enhanced SCCT Versus
Exec=AppRun --editor
Icon=icon
